<div class="container py-5 my-5">
  <div class="login-form">
    {% form 'customer_login' %}
      {% include 'form-error', form: form %}
      <h1 class="h3">Customer Login</h1>
      <label for="emailAddress">Email Address</label>
      <input type="email" name="customer[email]" id="" class="form-control">
      <label for="password">Password</label>
      <input type="password" name="customer[password]" id="" class="form-control">
      <button type="submit" value="Sign in" class="btn btn-primary btn-lg mt-2 w-100">Sign in</button>
    {% endform %}
  </div>
</div>
