<div class="container py-5 my-5">
  <div class="login-form">
    {% form 'create_customer' %}
      {% include 'form-error', form: form %}
      <h1 class="h3">Customer Register</h1>
      <label for="firstName">First Name</label>
      <input type="text" name="customer[first_name]" id="" class="form-control"/>
      <label for="lastName">Last NAme</label>
      <input type="text" name="customer[last_name]" id="" class="form-control"/>
      <label for="emailAddress">Email Address</label>
      <input type="email" name="customer[email]" id="" class="form-control">
      <label for="password">Password</label>
      <input type="password" name="customer[password]" id="" class="form-control">
      <button type="submit" value="Sign in" class="btn btn-primary btn-lg mt-2 w-100">Create an Account</button>
    {% endform %}
  </div>
</div>
